<a href="https://colab.research.google.com/github/ShoSato-047/DSCI_330_module_2/blob/main/DSCI330_list_comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List comprehension is a concise way to create lists in Python. It allows you to generate lists in a single line using a compact syntax.

###**Basic Syntax**

In [ ]:
new_list = [expression for item in iterable if condition]

- expression → The operation applied to each item (optional).
- iterable → The source (e.g., a list, range, etc.).
- condition (optional) → A filter that decides whether an item should be included.

###**Examples of List Comprehension**
1. Create a list of squares

In [1]:
squares = [x ** 2 for x in range(1, 6)]
print(squares)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

2. Filter even numbers from a list

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8]
evens = [x for x in numbers if x % 2 == 0]
print(evens)  # Output: [2, 4, 6, 8]

[2, 4, 6, 8]

# <font color = red> Problem 1: Double the Even Numbers

Given: A list of numbers [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Task: Use list comprehension to create a new list that contains only the even numbers, but doubled.

In [3]:
numbers =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
doubled_even_numbers = [n*2 for n in numbers if n%2==0]
doubled_even_numbers

[4, 8, 12, 16, 20]

#<font color = red> Problem 2: Extract First Letters from Words

Given: A list of words ["apple", "banana", "cherry", "date", "elderberry"]

Task: Use list comprehension to create a list of the first letter of each word.

In [7]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
words

['apple', 'banana', 'cherry', 'date', 'elderberry']

In [10]:
first_letter = [word[0] for word in words]
first_letter

['a', 'b', 'c', 'd', 'e']

#<font color = red> Problem 3: Generate a List of Squares (Only If Divisible by 3)
Given: A range of numbers from 1 to 20

Task: Use list comprehension to generate a list of squares of numbers only if they are divisible by 3.

In [12]:
numbers = list(range(1,21))
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
squares_if_3 = [number**2 for number in numbers if number%3==0]
squares_if_3

[9, 36, 81, 144, 225, 324]