<a href="https://colab.research.google.com/github/ShoSato-047/DSCI_330_module_2/blob/main/DSCI330_map_%26_reduce_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Map()**
**The map() function applies a given function to all items in an iterable (e.g., a list) and returns a map object (which can be converted to a list or another iterable).**

In [1]:
# Example: Squaring each number in a list
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

# <font color = red> Problem 1:
You have a list of temperatures in Celsius:
[0, 10, 20, 30, 40]
Convert them to Fahrenheit using map().
(The formula is: F = C * 9/5 + 32)

In [2]:
temp_cels = [0, 10, 20, 30, 40]
print(temp_cels)

[0, 10, 20, 30, 40]

In [3]:
c_to_f = lambda C: C * 9/5 + 32
temp_fahr = map(c_to_f, temp_cels)

print(list(temp_fahr))

[32.0, 50.0, 68.0, 86.0, 104.0]

# <font color = red> Problem 2:
Capitalize the first letter of each word in a sentence (Using map())
Problem:

Given a sentence "hello world, welcome to python", capitalize the first letter of each word.

In [4]:
sentence = "hello world, welcome to python"
print(sentence)

hello world, welcome to python

In [5]:
words = sentence.split()
words

['hello', 'world,', 'welcome', 'to', 'python']

In [6]:
capitalized_words =lambda w: w.capitalize()

capitalized_sentences = list(map(capitalized_words, words))

new_sentence = " ".join(capitalized_sentences)
new_sentence

'Hello World, Welcome To Python'

# **Reduce()**
**The reduce() function (from functools) applies a function cumulatively to the elements of an iterable, reducing them to a single value.**

In [7]:
from functools import reduce

# Example: Calculating the product of all numbers in a list
numbers = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)
print(product)  # Output: 120 (1*2*3*4*5)

120

# <font color = red> Problem 3:
Find the longest word in a list (Using reduce())

Problem:
Given a list of words, find the longest one using reduce().

In [8]:
from functools import reduce

words = ["apple", "banana", "cherry", "blueberry", "strawberry"]
words

['apple', 'banana', 'cherry', 'blueberry', 'strawberry']

In [9]:
longest_words = reduce(lambda x, y: x if len(x) > len(y) else y, words)
longest_words

'strawberry'

# <font color = red> Problem 4:
Compute the product of all numbers in a list (Using reduce())

Problem: Given a list of numbers [3, 4, 5, 6], compute the product of all numbers.

In [10]:
numbers = [3, 4, 5, 6]
numbers

[3, 4, 5, 6]

In [11]:
product = reduce(lambda x, y: x*y, numbers)
product

360

# <font color = red> Problem 5:

Calculate the total price of items with a discount (Using map() and reduce())

Problem: You have a list of item prices [100, 200, 300, 400]. Apply a 10% discount to each price and find the total cost.

In [12]:
 prices = [100, 200, 300, 400]
 prices

[100, 200, 300, 400]

In [13]:
discount = list(map(lambda x: x*0.9, prices))
discount

[90.0, 180.0, 270.0, 360.0]

In [14]:
total_prices = reduce(lambda x,y: x+y, discount)
total_prices

900.0

# <font color = red> Problem 6:
Compute the total price of items after applying tax.

You have a list of item prices before tax:
prices = [50, 100, 150, 200]

The sales tax rate is 10% (0.10).

  - Use map() to apply the tax to each price.
  - Use reduce() to calculate the total cost after tax.

In [15]:
prices = [50, 100, 150, 200]
prices

[50, 100, 150, 200]

In [17]:
prices_w_tax = list(map(lambda x: round(x*1.10, 2), prices))
prices_w_tax

[55.0, 110.0, 165.0, 220.0]

In [18]:
total_cost = reduce(lambda x, y: x + y, prices_w_tax)
total_cost

550.0