<a href="https://colab.research.google.com/github/ShoSato-047/DSCI_330_Activity-2.1---Basics-of-Comprehensions/blob/main/DSCI330_map_%26_reduce_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Map()**
**The map() function applies a given function to all items in an iterable (e.g., a list) and returns a map object (which can be converted to a list or another iterable).**

In [6]:
# Example: Squaring each number in a list
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

# <font color = red> Problem 1:
You have a list of temperatures in Celsius:
[0, 10, 20, 30, 40]
Convert them to Fahrenheit using map().
(The formula is: F = C * 9/5 + 32)

In [9]:
temp_cels = [0, 10, 20, 30, 40]
print(temp_cels)

[0, 10, 20, 30, 40]

In [5]:
c_to_f = lambda C: C * 9/5 + 32
temp_fahr = map(c_to_f, temp_cels)

print(list(temp_fahr))

[32.0, 50.0, 68.0, 86.0, 104.0]

# <font color = red> Problem 2:
Capitalize the first letter of each word in a sentence (Using map())
Problem:

Given a sentence "hello world, welcome to python", capitalize the first letter of each word.

In [8]:
sentence = "hello world, welcome to python"
print(sentence)

hello world, welcome to python

In [11]:
words = sentence.split()
words

['hello', 'world,', 'welcome', 'to', 'python']

In [15]:
capitalized_words =lambda w: w.capitalize()

capitalized_sentences = list(map(capitalized_words, words))

new_sentence = " ".join(capitalized_sentences)
new_sentence

'Hello World, Welcome To Python'

# **Reduce()**
**The reduce() function (from functools) applies a function cumulatively to the elements of an iterable, reducing them to a single value.**

In [7]:
from functools import reduce

# Example: Calculating the product of all numbers in a list
numbers = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)
print(product)  # Output: 120 (1*2*3*4*5)

120

# <font color = red> Problem 3:
Find the longest word in a list (Using reduce())

Problem:
Given a list of words, find the longest one using reduce().

In [16]:
from functools import reduce

words = ["apple", "banana", "cherry", "blueberry", "strawberry"]
words

['apple', 'banana', 'cherry', 'blueberry', 'strawberry']

In [18]:
longest_words = reduce(lambda x, y: x if len(x) > len(y) else y, words)
longest_words

'strawberry'

# <font color = red> Problem 4:
Compute the product of all numbers in a list (Using reduce())

Problem: Given a list of numbers [3, 4, 5, 6], compute the product of all numbers.

In [19]:
numbers = [3, 4, 5, 6]
numbers

[3, 4, 5, 6]

In [20]:
product = reduce(lambda x, y: x*y, numbers)
product

360

# <font color = red> Problem 5:

Calculate the total price of items with a discount (Using map() and reduce())

Problem: You have a list of item prices [100, 200, 300, 400]. Apply a 10% discount to each price and find the total cost.

In [21]:
 prices = [100, 200, 300, 400]
 prices

[100, 200, 300, 400]

In [23]:
discount = list(map(lambda x: x*0.9, prices))
discount

[90.0, 180.0, 270.0, 360.0]

In [24]:
total_prices = reduce(lambda x,y: x+y, discount)
total_prices

900.0